<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout('User Information Page', ~{::section})}">

<section>
    <div class="card">
        <div class="card-header">About User</div>
        <div class="card-body p-0">
            <table class="table table-bordered m-0 align-middle">
                <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Roles</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.id}">1</td>
                    <td th:text="${user.firstName}">User</td>
                    <td th:text="${user.lastName}">User</td>
                    <td th:text="${user.age}">38</td>
                    <td th:text="${user.email}">user@user</td>
                    <td>
            <span class="badge text-bg-secondary me-1"
                  th:each="r : ${user.roles}" th:text="${r.name}">[USER]</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</html>