<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>User Information Page</title></head>
<body>
<h2>About User</h2>
<table border="1" cellpadding="6">
    <tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Roles</th></tr>
    <tr>
        <td th:text="${user.id}">1</td>
        <td th:text="${user.firstName}">User</td>
        <td th:text="${user.lastName}">User</td>
        <td th:text="${user.email}">user@user</td>
        <td>
            <span th:each="r : ${user.roles}" th:text="${r.name}" style="margin-right:6px;">ROLE_USER</span>
        </td>
    </tr>
</table>
</body>
</html>